/*signin*/
/******************************************************************/
.signin-wrapper{
  background-color: whitesmoke;
  flex-direction: column;
  display: flex;
  height: 100vh;
  float: left;
  width: 70%;
}
/******************************************************************/
.titleholder{
  padding: 3rem 3rem;
}

.titleholder > a > * {
  font-family: sans-serif;
  color: #00A35A;
  margin: 0;
}
/******************************************************************/
.signinholder{
  text-align: center;
  flex-grow: 1;
  width: 100%;
}

.signinholder-formholder > form > * {
  position: absolute;
}

.signinholder-formholder > form > label {
  font-size: 1.5rem;
  transform: translateX(-110%);
}

.signinholder-formholder > form > input:not(.button) {
  height: 2rem;
  width: 25rem;
}

.signinholder-formholder > form > .button {
  transform: translateX(-50%);
  height: 3rem;
  width: 9rem;
  transition: .2s;
  font-size: 1.8rem;
  background-color: #00A35A;
  border: solid 5px #007A43;
  border-radius: 1rem;
}

.signinholder-formholder > form > .button:hover {
  transition: .4s;
  font-size: 2rem;
}

.signinholder > div > h1{
  font-size: 230%;
}

.signinholder > *{
  font-family: sans-serif;
}
/*signup*/
/******************************************************************/
.signup-wrapper{
  box-shadow: grey -4px 0px 7px;
  background-color: #6E44FF;
  height: 100vh;
  width: 30%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signup-wrapper > * {
  margin: 0;
  font-family: sans-serif;
  color: white;
}

.signup-wrapper > h1 {
  padding-bottom: .2rem;
}

.signup-wrapper > h3 {
  padding-bottom: 5rem;
}

.signup-wrapper > * > a {
  color: white;
}

.signup-wrapper > * > a:hover {
  text-decoration: underline;
}
/******************************************************************/