/*signup*/
/******************************************************************/
.signup-wrapper{
  background-color: whitesmoke;
  flex-direction: column;
  display: flex;
  height: 100vh;
  float: left;
  width: 70%;
}
/******************************************************************/
.titleholder{
  padding: 3rem 3rem;
}

.titleholder > a > * {
  font-family: sans-serif;
  color: #00A35A;
  margin: 0;
}
/******************************************************************/
.signupholder{
  text-align: center;
  flex-grow: 1;
  width: 100%;
}

.signupholder-formholder > form > * {
  position: absolute;
}

.signupholder-formholder > form > label {
  font-size: 1.5rem;
  transform: translateX(-110%);
}

.signupholder-formholder > form > input:not(.button) {
  height: 2rem;
  width: 25rem;
}

.signupholder-formholder > form > .button {
  transform: translateX(-50%);
  height: 3rem;
  width: 9rem;
  transition: .2s;
  font-size: 1.8rem;
  background-color: #00A35A;
  border: solid 5px #007A43;
  border-radius: 1rem;
}

.signupholder-formholder > form > .button:hover {
  transition: .4s;
  font-size: 2rem;
}

.signupholder > div > h1{
  font-size: 230%;
}

.signupholder > *{
  font-family: sans-serif;
}
/*signin*/
/******************************************************************/
.signin-wrapper{
  background-color: #6E44FF;
  height: 100vh;
  width: 30%;
  float: left;
}
/******************************************************************/